<div *ngIf="certifications && certifications.length > 0">
    <div *ngFor="let cert of certifications">
      <p><strong>Nombre:</strong> {{ cert.nombreCert }}</p>
      <p><strong>Descripción:</strong> {{ cert.datosCert }}</p>
      <p><strong>Imagen:</strong> <img [src]="cert.imgCert" alt="Imagen de la certificación" width="100"></p>
    </div>
  </div>
  
  <div *ngIf="certifications.length === 0">
    <p>No se encontraron certificaciones.</p>
  </div>
  
  <div *ngIf="errorMessage" class="error">
    <p>Error al cargar las certificaciones: {{ errorMessage }}</p>
  </div>
  